.project
.settings/
.classpath
.svn/
target/
bin/
**/.classpath
**/.project
**/.settings/
**/.svn/
svnignore
**/target/

## Gradle
build/
.gradle/

## IntelliJ
.idea/
*.iml
corejet-maven-plugin/src/test/resources/generated-by-test
corejet-gradle-plugin/src/test/resources/generated-by-test
